@model DiscoveryCenter.Models.Survey
@using DiscoveryCenter.Models;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="col-md-3 clearfix">
        <div class="panel panel-body panel-default fixed">
            <h2>Edit Survey</h2>

            <div class="form-group clearfix">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="top-divider">
                <center>
                    @Html.ActionLink("+Add Question", "BlankQuestionRow", new { id = 0 }, new { id = "addItem", @class = "btn btn-default" })
                    <input type="submit" value="Save" class="btn btn-default" />
                </center>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>


    <div class="form-horizontal col-md-9 panel panel-body panel-default">
        @Html.ValidationSummary(true, "", new { id="valSum", @class = "text-danger"})
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreateDate)

        <div id="questionDivList">
            <ul id="draggablePanelList" class="list-unstyled">

            </ul>
        </div>
    </div>
}

@section scripts
{
    <script>
        $("#addItem").click(function() {
        $.ajax({
            url: this.href,
            cache: false,
            success: function (html) {
                $("#draggablePanelList").append(html);
                UpdatePanels();
            }
        });
        return false;
        });

        //---------------draggable panel---------------------
        var panelList = $('#draggablePanelList');
        panelList.sortable({
            // Only make the .panel-heading child elements support dragging.
            // Omit this to make then entire <li>...</li> draggable.
            handle: '.panel-heading',
            update: function (event, ui) { UpdatePanels(); },

        });

        function UpdatePanels() {
            $('.panel', panelList).each(function (index, elem) {
                var $listItem = $(elem),
                    newIndex = $listItem.index();

                $(elem).find("Input.IndexInSurvey").each(function (index, elem) {
                    $(elem).val(newIndex + 1);
                });

                $(elem).find("span.IndexInSurvey").each(function (index, elem) {
                    $(elem).html(newIndex + 1);
                });

            });
        }
    </script>
}
