@model DiscoveryCenter.Models.Survey
@using DiscoveryCenter.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("Create", "Creation", FormMethod.Post, new { @class = "clearfix" }))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="col-md-3 clearfix">
        <div class="panel panel-body panel-default fixed">
            <h2>Create Survey</h2>
            <div class="form-group clearfix">
                <div class="col-md-10" style="padding-left:0px">
                    <h4>Survey Name</h4>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    <h4>Survey Description</h4>
                    @Html.TextAreaFor(model => model.Description, 5, 80, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>            </div>
            <div class="top-divider">
                @if (!this.ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary("Survey contains errors.", new { id = "valSum", @class = "text-danger pull-right" })
                }
                <center>
                    <a class="btn btn-default" href="@Url.Action("BlankQuestionRow", "Creation", new {id=Model.Id })" id="addItem">
                        <i class='glyphicon glyphicon-plus'></i> Add Question
                    </a>
                    <button id="save" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                </center>
            </div>
            <div>
                @Html.ActionLink("Back to Survey List", "Index")
            </div>
        </div>
    </div>


    <div class="form-horizontal col-md-8 panel panel-body panel-default clearfix">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreateDate)

        <div id="questionDivList">
            <div id="tip">
                @Html.ValidationMessage("Questions", new { @class = "text-danger" })
                <h2>No Questions in survey.</h2>
                <br>
                <h3><span class="glyphicon glyphicon-arrow-left"></span> Press '+Add Question' to add a question</h3>
            </div>
            <ul id="draggablePanelList" class="list-unstyled">
                @for (int i = 0; i < Model.Questions.Count; i++)
                {
                    @Html.Partial("Question", Model.Questions[i])
                }
            </ul>
        </div>
    </div>
}
