@model DiscoveryCenter.Models.CreationEditViewModel
@using DiscoveryCenter.Models;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Creation", FormMethod.Post, new {@class="clearfix"}))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="col-md-3 clearfix">
        <div class="panel panel-body panel-default fixed-sidebar">
            <h2>Edit Survey</h2>
            <div class="form-group clearfix">
                <div class="col-md-12" style="padding-left:0px">
                    <h4>Survey Name</h4>
                    @Html.EditorFor(model => model.Survey.Name, new { htmlAttributes = new { @class = "form-control" } })
                    <h4>Survey Description</h4>
                    @Html.TextAreaFor(model => model.Survey.Description, 5, 80, new { htmlAttributes = new { @class = "form-control" } })

                    <h4>Theme</h4>
                    @Html.DropDownListFor(model => model.Survey.ThemeId, Model.Themes, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Survey.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="top-divider">
                @if (!this.ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary("Survey contains errors.", new { id = "valSum", @class = "text-danger pull-right" })
                }
                <center>
                    <a class="btn btn-default" href="@Url.Action("BlankQuestionRow", "Creation", new {id=Model.Survey.Id })" id="addItem">
                        <i class='glyphicon glyphicon-plus'></i> Add Question
                    </a>
                    <button id="save" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                </center>
            </div>
            <div>
                @Html.ActionLink("Back to Survey List", "Index")
            </div>
        </div>
    </div>


    <div class="form-horizontal panel panel-body edit-main-panel clearfix">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Survey.Id)
        @Html.HiddenFor(model => model.Survey.CreateDate)

        <div id="questionDivList">
            <div id="tip">
                @Html.ValidationMessage("Questions", new { @class = "text-danger" })
                <h2>No Questions in survey.</h2>
                <br>
                <h3><span class="glyphicon glyphicon-arrow-left"></span> Press '+Add Question' to add a question</h3>
            </div>
            <ul id="draggablePanelList" class="list-unstyled">
                @for (int i = 0; i < Model.Survey.Questions.Count; i++)
                {
                    @Html.Partial("Question", Model.Survey.Questions[i])
                }
            </ul>
        </div>
    </div>
}

@section scripts{
    <script>
        NoQuestions();
    </script>
}

