@model IEnumerable<DiscoveryCenter.Models.Survey>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="col-md-offset-2 col-md-8 panel panel-default">
    <div class="panel-body ">
        <h2>Surveys</h2>
        <div class="clearfix">
            <div class="col-md-4" style="padding-left:0px">
                <p>
                    <a class="btn btn-primary" href="@Url.Action("Create","Creation")" id="addItem">
                        <i class='glyphicon glyphicon-plus'></i> Create New Survey
                    </a>
                </p>
            </div>
            <div class="col-md-8 selection-buttons " style="padding-right:0px">
                <div class="btn-group pull-right">
                    <a id="editSurvey" class="btn btn-default" type="button" href="@Url.Action("Edit", "Creation", new { id = "" })">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                    <a id="duplicateSurvey" class="btn btn-default" type="button" href="@Url.Action("Duplicate", "Creation", new { id = "" })">
                        <span class="glyphicon glyphicon-duplicate"></span> Duplicate
                    </a>
                    <a id="viewSurvey" class="btn btn-default" type="button" href="@Url.Action("Index", "Home", new { id = "" })">
                        <span class="glyphicon glyphicon-eye-open"></span> View Survey
                    </a>
                    <a id="reportSurvey" class="btn btn-default" type="button" href="@Url.Action("Index", "Report", new { id = "" })">
                        View Report
                    </a>
                    <a id="deleteSurvey" class="btn btn-danger" type="button" href="@Url.Action("Delete", "Creation", new { id = ""})">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>
                </div>
            </div>
        </div>
        
        <ul>
            <li class="header clearfix">
                <div class="col-md-3">
                    <span>@Html.DisplayNameFor(model => model.Name)</span>
                </div>
                <div class="col-md-3">
                    <span>Number of Questions</span>
                </div>
                <div class="col-md-3">
                    <span>@Html.DisplayNameFor(model => model.CreateDate)</span>
                </div>
                <div class="col-md-3">
                    <span>@Html.DisplayNameFor(model => model.LastModifiedDate)</span>
                </div>
            </li>
        </ul>
        <ul class="selectableList">
            
            @foreach (var item in Model)
            {
                <li class="ui-widget-content clearfix" id="selectRow_@item.Id" style="cursor:pointer">
                    @Html.HiddenFor(modelItem => item.Id, new { @class="id"})
                    <div class="col-md-3">
                        <span>@Html.DisplayFor(modelItem => item.Name)</span>
                    </div>
                    <div class="col-md-3">
                        <span>@item.Questions.Count</span>
                    </div>
                    <div class="col-md-3">
                        <span>@Html.DisplayFor(modelItem => item.CreateDate)</span>
                    </div>
                    <div class="col-md-3">
                        <span>@Html.DisplayFor(modelItem => item.LastModifiedDate)</span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@section scripts
{
    <script>
        $(".selectableList").selectable({
            stop:function(event, ui){
                $(event.target).children('.ui-selected').not(':first').removeClass('ui-selected');
                refreshButtons(event.target);
            }
        });

        $(document).ready(refreshButtons(null));

        function refreshButtons(target)
        {
            if (target != null)
                var selected = $(target).children('.ui-selected').first();
            else
                var selected = null;

            if (selected != null) {
                console.log(selected);
                var id = $(selected).find("input.id").first().val();
                console.log(id);
                $(".selection-buttons a").each(function (index, ele) {
                    $(ele).attr('href', function (i, a) {
                        
                        if (/id=[0-9]*&/.test(a))
                            return a.replace(/id=[0-9]*&/ig, "id=" + id);
                        else {
                            a = a.replace(/\?.*$/, "");
                            return a + "?id=" + id;
                        }
                    });
                    $(ele).removeAttr('disabled');
                    console.log(ele);
                });
                
            }
            else
            {
                $(".selection-buttons a").each(function (index, ele) {
                    console.log(ele);
                    $(ele).attr("disabled", "disabled");
                });
            }

        }
    </script>
}