@model IEnumerable<DiscoveryCenter.Models.Survey>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="col-md-offset-3 col-md-6 panel panel-default">
    <div class="panel-body ">
        <h2>Surveys</h2>
        <p>
            <a class="btn btn-success" href="@Url.Action("Create","Creation")" id="addItem">
                <i class='glyphicon glyphicon-plus'></i> Create New Survey
            </a>
        </p>
        <table class="table">
            <tr>
                <th class="col-md-4">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="col-md-4">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th class="col-md-4"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default" type="button" href="@Url.Action("Edit", "Creation", new { id = item.Id})">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </a>
                            <a class="btn btn-default" type="button" href="@Url.Action("Index", "Home", new { id = item.Id})">
                                <span class="glyphicon glyphicon-eye-open"></span> View
                            </a>
                            <a class="btn btn-danger" type="button" href="@Url.Action("Delete", "Creation", new { id = item.Id})">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>