@*Tuple<SurveyList, TotalPages, CurrentIndex>*@
@model Tuple<IEnumerable<DiscoveryCenter.Models.Survey>, int, int>

@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="col-md-offset-1 col-md-10 panel panel-default">
    <div class="panel-body ">
        <h2>Surveys</h2>
        <div class="clearfix">
            <div class="col-md-4" style="padding-left:0px">
                <p>
                    @if (Request.IsAuthenticated) {
                    <a class="btn btn-primary" href="@Url.Action("Create","Creation")" id="createSurvey">
                        <i class='glyphicon glyphicon-plus'></i> Create New Survey
                    </a>
                    }
                </p>
            </div>

            <div class="col-md-8 selection-buttons " style="padding-right:0px">
                <div class="btn-group pull-right">
                    @if (Request.IsAuthenticated) { 
                    <a id="editSurvey" class="btn btn-default" type="button" href="@Url.Action("Edit", "Creation", new { id = "" })">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                    <a id="duplicateSurvey" class="btn btn-default" type="button" href="@Url.Action("Duplicate", "Creation", new { id = "" })">
                        <span class="glyphicon glyphicon-duplicate"></span> Duplicate
                    </a>
                    }
                    <a id="viewSurvey" class="btn btn-default" type="button" href="@Url.Action("Index", "Home", new { id = "" })">
                        <span class="glyphicon glyphicon-eye-open"></span> View Survey
                    </a>

                    @if (Request.IsAuthenticated) {
                    <a id="reportSurvey" class="btn btn-default" type="button" href="@Url.Action("Index", "Report", new { id = "" })">
                        <span class="glyphicon glyphicon-list-alt"></span> View Report
                    </a>
                    <button id="deleteSurvey" class="btn btn-danger confirmDelete" type="button" data-toggle="modal"
                            data-target="#deleteDialog" href="@Url.Action("Delete", "Creation", new { id = "" })">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                    }
                </div>
            </div>
        </div>
        
        <ul>
            <li class="header clearfix">
                <div class="col-md-3">
                    <span>Name</span>
                </div>
                <div class="col-md-3">
                    <span>Number of Questions</span>
                </div>
                <div class="col-md-3">
                    <span>Create Date</span>
                </div>
                <div class="col-md-3">
                    <span>Last Modified</span>
                </div>
            </li>
        </ul>
        <ul class="indexSelectableList">

            @foreach (var item in Model.Item1)
            {
                <li class="ui-widget-content clearfix text-center" id="selectRow_@item.Id" style="cursor:pointer">
                    @Html.HiddenFor(modelItem => item.Id, new { @class = "id" })
                    <div class="col-md-3">
                        <span>@Html.DisplayFor(modelItem => item.Name)</span>
                    </div>
                    <div class="col-md-3">
                        <span>@item.Questions.Count</span>
                    </div>
                    <div class="col-md-3">
                        <span>@Html.DisplayFor(modelItem => item.CreateDate)</span>
                    </div>
                    <div class="col-md-3">
                        <span>@Html.DisplayFor(modelItem => item.LastModifiedDate)</span>
                    </div>
                </li>
            }
        </ul>

        @Html.Partial("_Pagination", new Tuple<int, int>(Model.Item2, Model.Item3))
        
        <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                </div>
            </div>
        </div>

    </div>
</div>