@model DiscoveryCenter.Models.SurveyViewModel
@using DiscoveryCenter.Models

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}
@using (Html.BeginForm("Survey", "Home", FormMethod.Post))
{
    <div class="jumbotron">

        @*<img src="~/Content/images/discovery75.png" />*@

        <a id="quitSurey" class="btn btn-lg pull-right" type="button" href="#" onclick="confirmExit();">
            <span class="glyphicon glyphicon-remove-circle pull-right" style="font-size:4em; color:red"></span>
        </a>
        <span id="alert" class="alert alert-danger top" role="alert" hidden style="position: absolute;"></span>

        <br />

        <!-- Left and right controls -->
        <a class="left carousel-control pull-left disabled" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control pull-right" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        @Html.HiddenFor(m => m.SurveyId)
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @for (int i = 0; i < @Model.QuestionModels.Count; i++)
                {
                    string val = i == 0 ? "item active" : "item";
                    <div class="@val" id="slide_@i">
                        @Html.HiddenFor(m => m.QuestionModels[i].Question)
                        @Html.HiddenFor(m => m.QuestionModels[i].QuestionId)
                        <p><b>@Model.QuestionModels[i].Question</b></p>
                        @switch (Model.QuestionModels[i].Type)
                        {
                            case (Question.QuestionType.MultipleChoiceChooseOne):
                                @(Html.Partial("MultipleChoiceChooseOne", Model.QuestionModels[i]))
                                break;

                            case (Question.QuestionType.MultipleChoiceChooseMany):
                            @(Html.Partial("MultipleChoiceChooseMany", Model.QuestionModels[i]))
                                break;

                            case (Question.QuestionType.ShortAnswer):
                            @Html.TextAreaFor(m => m.QuestionModels[i].Answer)
                                break;

                            case (Question.QuestionType.Slider):
                            @(Html.Partial("SliderQuestion", Model.QuestionModels[i]))
                                break;

                            case (Question.QuestionType.ExhibitsChooseMany):
                            @(Html.Partial("ExhibitsChooseMany", Model.QuestionModels[i]))
                                break;

                            default:
                            @Html.HiddenFor(m => m.QuestionModels[i].Answer)
                                break;
                        }

                        @Html.HiddenFor(m => m.QuestionModels[i].Type)

                        @if (i == Model.QuestionModels.Count - 1)
                        {
                            <center>
                                <input type="submit" class="btn btn-default" value="Complete Survey" id="CompleteSurvey" style="margin-top:15%" />
                            </center>
                        }
                    </div>
                }
            </div>

            <br>
            <!-- Indicators -->
            <div class="carousel-controls center">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" class="active" style="cursor:default"></li>
                    @for (int i = 1; i < @Model.QuestionModels.Count; i++)
                    {
                        <li data-target="#myCarousel" style="cursor:default"></li>
                    }
                </ol>
            </div>

        </div>
    </div>
}

@section scripts
{
    <script>
    $(".slider").labeledslider({ min: 1, max: 5, tickInterval: 1, value: 3, stop: sliderChanged})


    function sliderChanged(event, ui)
    {
        var id = this.id.replace("Slider", "Answer");
        console.log($("#" + id));
        $("#" + id).val(ui.value);
    }

    //------limiting checkbox selection-------------------
    var numClicks = 0;//makes it so that the alert shows for 5 secs after click no matter what
    var alert = $("#alert").first();

    function limitChecked(ele, max) {
        var numChecked = 0;
        var checkboxes = $(ele).closest(".checkboxes").find("input[type=checkbox]").each(
            function (index, ele) {
                if (ele.checked)
                    numChecked++;
            });

        if (max > 0 && numChecked > max) {
            numClicks++;
            $(ele).attr('checked', false);

            $(alert).html("Cannot excede " + max + " selections.");
            $(alert).show();

            setTimeout(function () {
                numClicks--;
                if (numClicks == 0)
                    $(alert).hide();
            }, 5000);
        }
    }

    //Code for autoredirect after a certain time limit
    var idleTime = 0;
    $(document).ready(function () {
        var idleInterval = setInterval(timerIncrement, 60000);

        //checks for mouse input
        $(this).mousemove(function (e) {
            idleTime = 0;
        });
        //checks for keyboard input
        $(this).keypress(function (e) {
            idleTime = 0;
        });
    });

    //Increments the timer and if the value is greater than 3, submits the survey
    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 3) {
            document.getElementById("CompleteSurvey").click();

        }
    }


    function confirmExit() {
        if(confirm("Are you sure you wish to exit without submitting your answers?"))
            window.location.replace("@Url.Action("Index", "Home", new {id=Model.SurveyId},Request.Url.Scheme)");
        }

        var numSlides = @Model.QuestionModels.Count -1;

        $('body').on('click', 'a.left.carousel-control', function (e) {
            var slideID = $('div.item.active').attr("id");
            console.log(slideID);

            if (slideID == "slide_1") {
                $('a.left').addClass("disabled");
            }

            $('a.right').removeClass("disabled");
        });

        $('body').on('click', 'a.right.carousel-control', function (e) {
            var slideID = $('div.item.active').attr("id");
            console.log(slideID);

            if (slideID == "slide_" + (numSlides - 1)) {
                $('a.right').addClass("disabled");
            }

            $('a.left').removeClass("disabled");
        });

        $('body').on('click', 'a.disabled', function (e) {
            e.preventDefault();
            return false;
        });
    </script>
}

