@model DiscoveryCenter.Models.SurveyViewModel
@using DiscoveryCenter.Models

@{
    ViewBag.Title = @Model.SurveyName;
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

<div class="panel-middle-outer">
    <div class="panel-middle">
        <div class="panel panel-middle-inner">
            <h1>Welcome to the @Model.SurveyName Survey!</h1>
            <img id="startLogo" src="~/Content/images/discovery.png" />
            <h2>@Model.SurveyDescription</h2>
            @Html.ActionLink("Start", "Survey", new { id = Model.SurveyId }, new { id = "Btn_Start", @class = "btn btn-default" })
        </div>
    </div>
</div>

@section Styles
{
    <link href="@Url.Content("~/Content/" + Model.Theme.CssFileName)" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/Scripts/@(Model.Theme.JsFileName)"></script>
}