@model DiscoveryCenter.Models.MultipleSelectViewModel
<div class="checkboxes">
    @for (int z = 0; z < @Model.Choices.Count; z++)
    {
        string buttonId = String.Format("{0}_Options[{1}].text", Model.QuestionId, z);
        <div class="checkbox">
            @Html.Hidden(buttonId, Model.Choices[z].Text)
            <label>
                @Html.CheckBox(String.Format("{0}_Options[{1}].IsSelected", Model.QuestionId, z), Model.Choices[z].IsSelected,
                new { onclick = "limitChecked(this, " + Model.MaxSelectedChoices + ");", id=buttonId })
                @if (Model.Choices[z].ImageName != "" && Model.Choices[z].ImageName != null)
                {
                    <img onclick="getElementById('@buttonId').checked=(!getElementById('@buttonId').checked);" class="choice-image" src="@Model.Choices[z].ImageName">
                }
                @Model.Choices[z].Text
            </label>
            
            <br />
        </div>
    }
</div>
