@model DiscoveryCenter.Models.MultipleChoiceQuestionViewModel
@{
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

<div class="jumbotron">
    <h1>Survey Details</h1>
    @Model.Question
    <br/>
    @{
        if(@Model.AllowMultiple)
        {
            foreach (string s in @Model.Choices)
            {
                <p>
                @Html.CheckBox(s)
                <label for="@s">@s</label>
                </p>
            }
        }
        else
        {
            foreach (string s in @Model.Choices)
            {
                <p>
                    @Html.RadioButton("Radio", s)
                    <label for="@s">@s</label>
                </p>
            }
        }
}
    


</div>

