@model DiscoveryCenter.Models.SliderViewModel

<div class="slider-container">
    @Html.Hidden(String.Format("QuestionModels[{0}].Answer", Model.QuestionId), "")
    <div class="slider" id="QuestionModels_@(Model.QuestionId)__Slider" name="QuestionModels[@(Model.QuestionId)].Slider" labels='["@Model.Choices[0]", " ", "@Model.Choices[1]" , " " , "@Model.Choices[2]" ]'> </div>
        @*<div class="slider-choices">
            @for (int i = 0; i < @Model.Choices.Count; i++)
            {
                <div><label>@Model.Choices[i]</label></div>
            }
        </div>*@
    </div>