@*Tuple<ExhibitList, TotalPages, CurrentIndex>*@
@model Tuple<IEnumerable<DiscoveryCenter.Models.Exhibit>, int, int>

@{
    ViewBag.Title = "Admin Console - Exhibits";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<div class="col-md-offset-1 col-md-10 panel panel-default">
    <div class="panel-body ">
        <h2>Exhibits</h2>
        <div class="clearfix">
            <div class="col-md-4" style="padding-left:0px">
                <p>
                    <a class="btn btn-primary editDialog" href="@Url.Action("Create","Exhibits")" id="addExhibit" data-toggle="modal"
                       data-target="#deleteDialog">
                        <i class='glyphicon glyphicon-plus'></i> Create New Exhibit
                    </a>
                </p>
            </div>
            <div class="col-md-8 selection-buttons " style="padding-right:0px">
                <div class="btn-group pull-right">
                    <a id="qrExhibit" class="btn btn-default" type="button" href="@Url.Action("DownloadQRCode", "Exhibits", new { id = "" })">
                        <span class="glyphicon glyphicon-list-alt"></span> View QR Code
                    </a>     
                    <a id="ratingExhibit" class="btn btn-default" type="button" href="@Url.Action("ViewExhibitRating", "Exhibits", new { id = "" })">
                        <span class="glyphicon glyphicon-list-alt"></span> View Ratings
                    </a>                   
                    <a id="editExhibit" class="btn btn-default editDialog" type="button" data-toggle="modal"
                       data-target="#editDialog" href="@Url.Action("Edit", "Exhibits", new { id = "" })">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                    <a id="deleteExhibit" class="btn btn-danger confirmDelete" type="button" data-toggle="modal"
                       data-target="#deleteDialog" href="@Url.Action("Delete", "Exhibits", new { id = ""})">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>
                </div>
            </div>
        </div>

        <ul>
                <li class="header clearfix">
                    <div class="col-md-5">
                        <span>Name</span>
                    </div>
                    <div class="col-md-3">
                        <span>Create Date</span>
                    </div>
                    <div class="col-md-4">
                        <span>Last Modified Date</span>
                    </div>
                </li>
        </ul>
        <ul class="indexSelectableList">

            @foreach (var item in Model.Item1)
            {
                <li class="ui-widget-content clearfix text-center" id="selectRow_@item.Id" style="cursor:pointer">
                    @Html.HiddenFor(modelItem => item.Id, new { @class = "id" })
                    <div class="col-md-5">
                        <img style="float:left" src="@item.ImageLocation" height="64" width="64">
                        <span>@Html.DisplayFor(modelItem => item.Name)</span>
                    </div>
                    <div class="col-md-3">
                        <span>@Html.DisplayFor(modelItem => item.CreateDate)</span>
                    </div>
                    <div class="col-md-4">
                        <span>@Html.DisplayFor(modelItem => item.LastModifiedDate)</span>
                    </div>
                </li>
            }
        </ul>

        @Html.Partial("_Pagination",new Tuple<int,int>(Model.Item2,Model.Item3))
    </div>
</div>
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="modal fade" id="editDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(".editDialog").on("click", function (event) {
            var url = $(event.currentTarget).attr("href");
            $.ajax({
                url: url,
                method: 'GET'
            }).success(function (data) {
                $("#editDialog .modal-dialog .modal-content").html(data);
            })
        });
    </script>
}