@model DiscoveryCenter.Models.ThemeViewModel

@{
    ViewBag.Title = "Themes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    List<SelectListItem> storedImageNames = new List<SelectListItem>();
    storedImageNames.Add(new SelectListItem() { Text = "None", Value = "" });

    foreach (string image in Directory.GetFiles(Server.MapPath("~/Content/images/choiceImage")))
    {
        string val = "/Content/images/choiceImage/" + Path.GetFileName(image);
        storedImageNames.Add(new SelectListItem() { Text = Path.GetFileName(image), Value = val });
    }

    List<SelectListItem> storedAudioNames = new List<SelectListItem>();
    storedAudioNames.Add(new SelectListItem() { Text = "None", Value = "" });

    foreach (string audio in Directory.GetFiles(Server.MapPath("~/Content/audio")))
    {
        string val = "/Content/audio/" + Path.GetFileName(audio);
        storedAudioNames.Add(new SelectListItem() { Text = Path.GetFileName(audio), Value = val });
    }
}



@using (Html.BeginForm("Edit", "Theme", FormMethod.Post, new { @class = "clearfix" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Theme.Id);
    @Html.HiddenFor(model => model.Theme.CssFileName);
    @Html.HiddenFor(model => model.Theme.JsFileName);
    <br />
    <div class="col-md-offset-3 col-md-6 panel panel-body">
        <div class="col-md-3"><h4 class="pull-right">Theme Name</h4></div>
        
        <div class="col-md-6">
            @Html.EditorFor(model => model.Theme.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
            <button id="save" type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
    </div>
    <div class="editor-container col-md-6">
        <div class="tabs">
            <ul>
                <li><a href="#tabs-1">Theme Css</a></li>
                <li><a href="#tabs-2">Theme Javascript/JQuery</a></li>
                <li><a href="#tabs-3">Theme Sounds/Logo</a></li>
            </ul>
            <div id="tabs-1">
                <div class="panel editor-panel">
                    <textarea id="css" name="CssText">@Model.CssText</textarea>
                </div>
            </div>
            <div id="tabs-2">
                <div class="panel editor-panel">
                    <textarea id="js" name="JsText">@Model.JsText</textarea>
                </div>
            </div>
            <div id="tabs-3">
                <div class="panel editor-panel">
                    <label for="onPeviousSound">Sound played on pressing 'Previous Question'</label>
                    <audio id="onPreviousSound" controls>
                        <source id="onPreviousSource" src="@Model.Theme.PrevButtonAudio" type="audio/mpeg" />
                    </audio>
                    @Html.DropDownListFor(x => x.Theme.PrevButtonAudio, storedAudioNames, new { @class = "form-control", onChange = "updateIconSrc(\"onPreviousSource\",this);loadAudio(\"onPreviousSound\")" })

                    <label for="onNextSound" style="padding-top: 5%;">Sound played on pressing 'Next Question'</label>
                    <audio id="onNextSound" controls>
                        <source id="onNextSource" src="@Model.Theme.NextButtonAudio" type="audio/mpeg" />
                    </audio>
                    @Html.DropDownListFor(x => x.Theme.NextButtonAudio, storedAudioNames, new { @class = "form-control", onChange = "updateIconSrc(\"onNextSource\",this);loadAudio(\"onNextSound\")" })

                    <label for="onFinishSound" style="padding-top: 5%;">Sound played after completing a Survey</label>
                    <audio id="onFinishSound" controls>
                        <source id="onFinishSource" src="@Model.Theme.FinishAudio" type="audio/mpeg" />
                    </audio>
                    @Html.DropDownListFor(x => x.Theme.FinishAudio, storedAudioNames, new { @class = "form-control", onChange = "updateIconSrc(\"onFinishSource\",this);loadAudio(\"onFinishSound\")" })


                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 panel text-center">
        <h3>Preview</h3>
        <div class="top-divider"></div>

        <div class="panel editPreview">
            @if (Model.Theme.CssFileName != null && Model.Theme.JsFileName != null)
            {
                <iframe class="preview" src="/Home/PreviewTheme/@Model.Theme.Id"></iframe>
                <div id="iframeBlocker" style="position: absolute; top: 0; left: 0; right:0; bottom:0; padding:5%; text-align:center">
                </div>
            }
            else
            {
                <div id="iframeBlocker" style="position: absolute; top: 0; left: 0; right:0; bottom:0; padding:5%; text-align:center; opacity: .7; background-color:black">
                    <h3 style="color:white;">Save the theme to generate a preview</h3>
                </div>
            }
        </div>
    </div>
}

@section styles
{
    <link href="/Content/codemirror.css" rel="stylesheet" type="text/css" />
    <link href="/Content/cobalt.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/Scripts/codemirror.js"></script>
    <script src="/Scripts/css.js" type="text/javascript"></script>
    <script src="/Scripts/javascript.js" type="text/javascript"></script>

    <script>
        

        var csseditor = CodeMirror.fromTextArea(document.getElementById("css"), {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/css",
            height: "auto"
        });

        var jseditor = CodeMirror.fromTextArea(document.getElementById("js"), {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/javascript",
            height: "auto",
        });

        var tabs = $(".tabs").tabs();

        tabs.tabs({
            show: function (event, ui) {
                $('.processingide').each(function (i) {
                    jseditor.refresh();
                    csseditor.refresh();
                });
            }
        });

        function loadAudio(id) {
            var audio = document.getElementById(id);
            audio.load();
        }
    </script>
}