@model DiscoveryCenter.Models.ThemeViewModel

@{
    ViewBag.Title = "Admin Console - Themes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Theme", FormMethod.Post, new { @class = "clearfix" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Theme.Id);
    @Html.HiddenFor(model => model.Theme.CssFileName);
    @Html.HiddenFor(model => model.Theme.JsFileName);
    <br />
    <div class="col-md-offset-3 col-md-6 panel panel-body">
        <div class="col-md-2"><h4 class="pull-right">Theme Name</h4></div>
        
        <div class="col-md-6">
            @Html.EditorFor(model => model.Theme.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
            <button id="save" type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
        
    </div>
    <div class="editor-container col-md-5">
        <div class="tabs">
            <ul>
                <li><a href="#tabs-1">Theme Css</a></li>
                <li><a href="#tabs-2">Theme Javascript/JQuery</a></li>
            </ul>
            <div id="tabs-1" class="panel editor-panel">
                @Html.TextAreaFor(model => model.CssText, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div id="tabs-2" class="panel editor-panel">
                @Html.TextAreaFor(model => model.JsText, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="col-md-7 panel text-center">
        <h3>Preview</h3>
        <div class="panel " style="height: 70vh; position:relative">
            @if (Model.Theme.CssFileName != null && Model.Theme.JsFileName != null)
            {
                <iframe class="preview" style="height:100%; width:100%" src="/Theme/Preview/@Model.Theme.Id"></iframe>
                <div id="iframeBlocker" style="position: absolute; top: 0; left: 0; right:0; bottom:0; padding:5%; text-align:center">
            </div>
            }
            else
            {
                <div id="iframeBlocker" style="position: absolute; top: 0; left: 0; right:0; bottom:0; padding:5%; text-align:center; opacity: .7; background-color:black">
                    <h3 style="color:white;">Save the theme to generate a preview</h3>
                </div>
            }
        </div>
    </div>
}

@section scripts
{
    <script>
        $(".tabs").tabs();
    </script>
}