@model Tuple<IEnumerable<DiscoveryCenter.Models.Theme>, int, int>

@{
    ViewBag.Title = "Themes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="col-md-4 panel panel-default">
    <div class="panel-body ">
        <h2>Themes</h2>
        <div class="clearfix">
            <div class="col-md-5" style="padding-left:0px">
                <p>
                    <a class="btn btn-primary" href="@Url.Action("Edit","Theme")">
                        <i class='glyphicon glyphicon-plus'></i> Create Theme
                    </a>
                </p>
            </div>

            <div class="col-md-7 selection-buttons " style="padding-right:0px">
                <div class="btn-group pull-right">
                    <a id="editSurvey" class="btn btn-default" type="button" href="@Url.Action("Edit", "Theme", new { id = "" })">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                    <a id="deleteSurvey" class="btn btn-danger confirmDelete" type="button" data-toggle="modal"
                       data-target="#deleteDialog" href="@Url.Action("Delete", "Theme", new { id = "" })">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>
                </div>
            </div>
            <div class="col-md-12 clearfix">@Html.ValidationMessage("Theme", new { @class = "text-danger" })</div>
        </div>
        

        <ul>
            <li class="header clearfix">
                <div class="col-md-12">
                    <span>Name</span>
                </div>
            </li>
        </ul>
        <ul class="indexSelectableList">

            @foreach (var item in Model.Item1)
            {
                <li class="ui-widget-content clearfix text-center" id="selectRow_@item.Id" style="cursor:pointer">
                    @Html.HiddenFor(modelItem => item.Id, new { @class = "id" })
                    <div class="col-md-12">
                        <span>@Html.DisplayFor(modelItem => item.Name)</span>
                    </div>
                </li>
            }
        </ul>

        @Html.Partial("_Pagination", new Tuple<int, int>(Model.Item2, Model.Item3))
    </div>
    
</div>
<div class="col-md-8">
    <div class="panel indexPreview">
        <iframe class="preview"></iframe>
        <div id="iframeBlocker" style="position: absolute; top: 0; left: 0; right:0; bottom:0; padding:5%">
            <h3 style="position: absolute; top: 22%"><span class="glyphicon glyphicon-arrow-left"></span> Select a theme to preview!</h3>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
@section scripts
{
    <script>
        function loadPreview(themeId) {
            $(".preview").attr("src", "/Home/PreviewTheme/" + themeId);
            $("#iframeBlocker").html("");
        }

        $(".indexSelectableList").selectable({
            selected: function (event, ui) {
                refreshButtons(event.target, loadPreview);
            }
        });
    </script>
}