@model DiscoveryCenter.Models.ReportsViewModel

@{
    ViewBag.Title = "Report for " + @Model.SurveyName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="col-md-offset-1 col-md-3 panel panel-default">
    <div class="panel-body ">
        <a id="ExportDialog" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-download-alt"></span> Download Report</a>
        <h2>Questions</h2>
        <ul class="indexSelectableList">

            @foreach (var item in Model.Reports)
            {
                <li class="ui-widget-content clearfix text-center" id="selectRow_@item.Id" style="cursor:pointer">
                    @Html.HiddenFor(modelItem => item.Id, new { @class = "id" })
                    <div class="col-md-12">
                        <span>@("\"" + item.Text + "\"")</span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<div class="col-md-7">
    <div id="report" class="panel panel-body">
        <h3 style="position: absolute; top: 22%"><span class="glyphicon glyphicon-arrow-left"></span> Select a question to view the report!</h3>
    </div>
</div>

@using(Html.BeginForm("ExportToCSV", "Report", FormMethod.Post, new { @id="dialog-form", @title="Download Options" }))
{
    @Html.Hidden("id", @Model.SurveyId)
    @Html.RadioButton("dateRadio", "noDate", true, new { @id = "noDate" })
    @Html.Label("Export All Data") <br />

    @Html.RadioButton("dateRadio", "date", false, new { @id = "date" })
    @Html.Label("Only Export Data in Date Range") <br />
    <div style="padding-left:2em">
        <span style="float:left">Start Date</span>
        @Html.TextBox("startDate")
        <span style="float:left">End Date</span>
        @Html.TextBox("endDate")
    </div>

    @Html.CheckBox("exportRawData", true)
    @Html.Label("Include Raw Data") <br />
    <input type="submit" value="Download Report" id="submitBtn"/>
}

@section scripts{
<script>
    function loadReport(questionId) {
        $.ajax({
            url: "/Report/Details/" + questionId,
            type: 'GET'
        }).done(function (html) {
            $("#report").html(html);
        });
    }

    

    $(document).ready(function () {
        $(".indexSelectableList li:first").addClass('ui-selected');

        $(".indexSelectableList").selectable({
            stop: function (event, ui) {
                $(event.target).children('.ui-selected').not(':first').removeClass('ui-selected');
                refreshButtons(event.target, loadReport);
            }
        });
        refreshButtons($(".indexSelectableList:first"), loadReport);
        

        dialog = $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true
        });

        $( "#ExportDialog" ).on( "click", function() {
            dialog.dialog( "open" );
        });

        // Enable Date Picker
        $( "#startDate" ).datepicker();
        $( "#endDate" ).datepicker();

        // Today
        var defaultEndDate = new Date();
        // 30 Days ago
        var defaultStartDate = new Date();
        defaultStartDate.setDate(defaultStartDate.getDate() - 30);

        $( "#startDate" ).val($.datepicker.formatDate('m/dd/yy', defaultStartDate));
        $( "#endDate" ).val($.datepicker.formatDate('m/dd/yy', defaultEndDate));

        // Make sure the dates are initially disabled, since "no date range" is selected by default
        $( "#startDate" ).prop('disabled', true);
        $( "#endDate" ).prop('disabled', true);

        // Radio buttons
        // When date is checked, enable date picking
        $( "#date" ).change(function () {
            if ($( "#date" ).is(':checked')) {
                $( "#startDate" ).prop('disabled', false)
                $( "#endDate" ).prop('disabled', false)
            }
        });

        // When noDate is checked, disable date picking
        $( "#noDate" ).change(function () {
            if ($( "#noDate" ).is(':checked')) {
                $( "#startDate" ).prop('disabled', true)
                $( "#endDate" ).prop('disabled', true)
            }
        });

        $( '#dialog-form' ).submit(function() {
            dialog.dialog("close");
        });
    });
</script>
}