@*Tuple<Choices,Exhibits,Sounds>*@
@model Tuple<List<string>, List<string>, List<string>>

@{
    ViewBag.Title = "Multimedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">
    
    <div class="panel-group col-md-12" id="accordion">
        <div class="panel panel-heading" style="background-color:#ADD8E6">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <h2 class="panel-title">
                    Choice Icons
                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                </h2>
            </a>
            <p id="messages"></p>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel panel-body">
                <div class="row">
                    @using (Html.BeginForm("Upload", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("location", "choices");
                        <div class="col-md-offset-1 col-md-4">
                            <input type="file" id="fileselect" name="file" />
                        </div>

                        <div class="col-md-offset-3 col-md-4">
                            <input id="submitbutton" type="submit" value="Upload Image" class="btn btn-default" />
                        </div>
                    }
                </div>
                <div class="row">
                    @foreach (string s in Model.Item1)
                    {
                        <div class="col-md-4">
                            <img src="@s" height="128" width="128" />
                            <p style="margin-bottom:0">@s.Split('/').Last()</p>
                            @Html.ActionLink("Delete Image", "DeleteImage", new { location = s })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group col-md-12" id="accordion2" >
        <div class="panel panel-heading" style="background-color:#ADD8E6">
            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <h2 class="panel-title">
                    Exhibit Icons
                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                </h2>
            </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel panel-body">
                <div class="row">
                    @using (Html.BeginForm("Upload", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("location", "exhibits");
                        <div class="col-md-offset-1 col-md-4">
                            <input type="file" id="fileselect" name="file" />
                        </div>

                        <div class="col-md-offset-3 col-md-4">
                            <input id="submitbutton2" type="submit" value="Upload Image" class="btn btn-default" />
                        </div>
                    }
                </div>
                <div class="row">
                    @foreach (string s in Model.Item2)
                    {
                        <div class="col-md-4">
                            <img src="@s" height="128" width="128" />
                            <p style="margin-bottom:0">@s.Split('/').Last()</p>
                            @Html.ActionLink("Delete Image", "DeleteImage", new { location = s })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group col-md-12" id="accordion3" >
        <div class="panel panel-heading" style="background-color:#ADD8E6">
            <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                <h2 class="panel-title">
                    Sounds (mp3 only)
                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                </h2>
            </a>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel panel-body">
                <div class="row">
                    @using (Html.BeginForm("Upload", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("location", "sounds");
                        <div class="col-md-offset-1 col-md-4">
                            <input type="file" id="fileselect" name="file" />
                        </div>

                        <div class="col-md-offset-3 col-md-4">
                            <input id="submitbutton3" type="submit" value="Upload Sound" class="btn btn-default" />
                        </div>
                    }
                </div>
                <div class="row">
                    @foreach (string s in Model.Item3)
                    {
                        <div class="col-md-12">
                            <audio preload="auto" controls>
                                <source src="@s" type="audio/mpeg" />
                            </audio>
                            <p style="margin-bottom:0">@s.Split('/').Last()</p>
                            @Html.ActionLink("Delete Sound", "DeleteImage", new { location = s })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function toggleChevron(e) {
            $(e.target)
                .prev('.panel-heading')
                .find("i.indicator")
                .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        }

        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);

        $('#accordion2').on('hidden.bs.collapse', toggleChevron);
        $('#accordion2').on('shown.bs.collapse', toggleChevron);

        $('#accordion3').on('hidden.bs.collapse', toggleChevron);
        $('#accordion3').on('shown.bs.collapse', toggleChevron);
    </script>
}


